<div class="message" id="message-<%=message.id%>">
	<div class="message-meta">on <%= message.created_at.to_formatted_s(:long_ordinal) %>, <span class="author"><%= message.author %> </span> said:</div>
	<div><%= message.message %></div>
</div>
